/* ---------- SPECIFICATION ---------- */

body {
	font-size: 15px;
	color: #000;
	padding: 0;
	margin: 0;
	font-family: $rob-4;
}

mark {
	background: transparent;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    line-height: 1.4em;
    margin-bottom: 1em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

a, a:hover, a:active {
	text-decoration: none;
}

a:hover, a:active, button:hover, button:active input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active {
	outline: none;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

@mixin lg {
    @media screen and (max-width: 1200px) {
         @content;
    }
}
@mixin md {
    @media screen and (max-width: 992px) {
        @content;
    }
}
@mixin sm {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin xs {
   @media screen and (max-width: 576px) {
        @content;
   }
}